// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#5e748d;
$menuActiveText:#4f5d60;
$subMenuActiveText:#848791; // https://github.com/ElemeFE/element/issues/12951

// // 原先默认的项目色
// $menuBg:#222d32;  //菜单整体背景
// $menuHover:#263445; //菜单悬浮变色

// $subMenuBg:#1f2d3d; //子菜单背景
// $subMenuHover:#001528;  //子菜单悬浮背景

$menuBg:#eaeef3;  //菜单整体背景
$menuHover:#f1f1f1; //菜单悬浮变色

$subMenuBg: #e3e6e8; //子菜单背景
$subMenuHover:#f1f1f1;  //子菜单悬浮背景

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
